:root {
    --color-primario: #007BFF;
    --color-fondo: #F5F5F5;
    --color-caja: #FFFFFF;
    --color-borde: #CCCCCC;
    --tamano-fuente: 24px; /* Aumentar el tamaño de fuente general */
    --fondo-verde-claro: #D3EFD2;
    --fuente-titulo: 'Arial', sans-serif;
    --fuente-texto: 'Verdana', sans-serif;
}

body {
    font-family: Arial, sans-serif; /* Adaptado del segundo código */
    background-color: #f2f2f2; /* Adaptado del segundo código */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chat-container { /* Conserva el estilo del primer código */
    background-color: var(--color-fondo);
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--fuente-texto);
}

h1 {
    font-size: 28px; /* Aumentar el tamaño de fuente para el título */
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-titulo);
}

p {
    font-size: var(--tamano-fuente);
    color: #333333;
}

#chat-output {
    padding: 15px; /* Ajustar el padding para los mensajes */
    font-size: 16px; /* Aumentar el tamaño de fuente para los mensajes */
    color: #555555;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
}

button {
    background-color: var(--color-primario);
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%; /* Adaptado del segundo código */
    transition: background-color 0.3s; /* Adaptado del segundo código */
}

button:hover {
    background-color: #0056b3; /* Adaptado del segundo código */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Aumentar el tamaño del contenedor principal */
}


.message {
    padding: 15px; /* Ajustar el padding para los mensajes */
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px; /* Aumentar el tamaño de fuente para los mensajes */
    width: fit-content;
}

.Usuario {
    background-color: var(--color-primario); /* Cambiar por el color deseado para el usuario */
    color: #FFFFFF; /* Color del texto para el usuario */
    align-self: flex-end; /* Posición a la derecha */
}

.Chatbot {
    background-color: var(--color-caja); /* Cambiar por el color deseado para el chatbot */
    color: #555555; /* Color del texto para el chatbot */
    align-self: flex-start; /* Posición a la izquierda */
}







