<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>
    <div>
        <form action="/datos" method="post">
            <div>
                Peso: <input type="number" step="0.01" name="peso" placeholder="Introduce tu peso en kg" required>
            </div>
            <div>
                Altura: <input type="number" step="0.01" name="altura" placeholder="Introduce tu altura en cm" required>
            </div>
            <div>
                Edad: <input type="number" name="edad" placeholder="Introduce tu edad" required>
            </div>
            <div>
                <button type="submit">Ingresar tus datos</button>
            </div>
        </form>
    </div>

    <div id="chat-container">
        <div id="chat-output"></div>
        <input type="text" id="user-input" placeholder="Escribe tu mensaje..." />
        <button onclick="sendMessage()">Enviar</button>
    </div>

    <script>
        const chatOutput = document.getElementById('chat-output');
        const userInput = document.getElementById('user-input');

        function addChatMessage(message, sender) {
            const messageDiv = document.createElement('div');
            messageDiv.textContent = `${sender}: ${message}`;
            chatOutput.appendChild(messageDiv);
        }

        function sendMessage() {
            const message = userInput.value.trim();
            if (message !== '') {
                addChatMessage(message, 'Usuario');
                userInput.value = '';

                fetch('/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ input: message })
                })
                .then(response => response.json())
                .then(data => {
                    const responseMessage = data.response;
                    addChatMessage(responseMessage, 'Chatbot');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
</body>
</html>
