<!DOCTYPE html>

    <script>
        function handleKeyPress(event){
            if (event.keyCode === 13) { // 13 es el código de tecla "Enter"
                sendMessage();
            }
            }
        const chatOutput = document.getElementById('chat-output');
        const userInput = document.getElementById('user-input');

        function addChatMessage(message, sender) {
            const messageDiv = document.createElement('div');
            messageDiv.textContent = `${sender}: ${message}`;
            chatOutput.appendChild(messageDiv);
        }

        function sendMessage() {
            const message = userInput.value.trim();
            if (message !== '') {
                addChatMessage(message, 'Usuario');
                userInput.value = '';

                fetch('/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ input: message })
                })
                .then(response => response.json())
                .then(data => {
                    const responseMessage = data.response;
                    addChatMessage(responseMessage, 'Chatbot');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
</body>
</html>
