<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutri IA solutions</title>
    <link rel="shortcut icon" href="../static/iconoPequeniooo.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">
</head>
<body>
    
    <header>
        <section class="textos-header">
            <img src="../static/iconoPequeniooo.svg"  width= 20% alt="iconoPequeniooo">
            <h1> NUTRI IA SOLUTIONS</h1>
            <h2> ¡¡Alimenta tu futuro con decisiones inteligentes hoy!!</h2>
           
        </section> 
       
    </header>
    <link rel="shortcut icon" href="../static/iconoPequeniooo.svg" type="image/x-icon">
    <section class="contenedor-nosotros">
        <h2 class="titulo" >Nosotros somos
        </h2>
        
        <div class="contenido-textos">
            <h3><span>1</span>Nos preocupamos por tu salud y bienestar</h3>
            <p>somos una empresa que se interesa en ti y en las personas que quieres,te mostramos dietas al alcance del bolsillo
                y buscamos satisfacer tus preferencias con unas rutinas de ejercicios personalizadas.
                porque cuidar tu salud es nuestro primordial objetivo...
            </p>
        </div>
    </section>
    <div class="container">

        <form class="login-form" action="/datos" method="post">
            <img src="../static/iconoPequeniooo.svg" alt="iconoPequeniooo">  
            <h1>Mucho gusto:</h1>
            <label>Nombre: </label>
            <input type="letter" step="0.01" name="nombre" placeholder="Introduce su nombre" required>

            <h1>Datos importantes</h1>
            <label>Genero: </label>
            <input type="letter" step="0.01" name="genero" placeholder="Introduce su genero" required>

            <label>Peso: </label>
            <input type="number" step="0.01" name="peso" placeholder="Introduce tu peso en kg" required>
            
            <label>Altura: </label>
            <input type="number" step="0.01" name="altura" placeholder="Introduce tu altura en cm" required>
           
            <label>Edad: </label>
            <input type="number" name="edad" placeholder="Introduce tu edad" required>
            
            <button type="submit" onclick="enviarDatos()">Ingresar tus datos</button>
        </form>
    </div>
</body>
</html>
